name: Disable Workflow

on: 
  push: 
   branches: [main]

jobs: 
  disable:
   runs-on: ubuntu-latest
   
   steps:
      - name: Disabled Worflow
        run: echo "Disable Workflow successfully"
    
